.app {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.headertitle {
  grid-column: 2/6;
  grid-row: 1/2;
}

.navbar {
  grid-column: 1/2;
  grid-row: 1/6;
}

.search {
  grid-column: 2/6;
  grid-row: 2/3;
  margin-top: 10px;
}
.add {
  grid-column: 5/6;
  grid-row: 2/3;
  float: right;
  margin-right: 10px;
}

.users {
  grid-column: 2/3;
  grid-row: 3/6;
}

.page {
  grid-column: 2/3;
  grid-row: 6/7;
  text-align: center;
  margin-top: 100px;
}
